@model IEnumerable<SchoolApp.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>@ViewBag.Title.</h2>

<table>
       <tr>
           <th>
                Enrollment Date
           </th>
           <th>
                Students
           </th>
       </tr>
@foreach (var Item in Model)
     {
       <tr>
           <td>
               @Html.DisplayFor(model => Item.EnrollmentDate)
           </td>
           <td>
               @Item.StudentCount
           </td>
       </tr>
     }
</table>

