@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lexicon</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Sweden's largest training company for the business sector</h4>

    </div>
    <div class="col-md-4">
        <p>Telephone number :<strong>036-30 56 30</strong></p>
        <p>   E-post:     <strong>jonkoping@lexicon.se</strong>	</p>
        <p><a class="btn btn-default" href="http://www.lexicon.se">www.lexicon.se &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h5><strong>Lexicon</strong> was established in 1979 and is a franchise organization with a few equity-owned companies and a large number of franchise-owned companies.</h5>
        <p>
           <b>Address</b>  : Östra Storgatan 37, 553 21 Jönköping
        </p>
        <p><a class="btn btn-default" href="http://www.lexicon.se/Lexicon/Lexicon/About-us/">About us &raquo;</a></p>
    </div>
</div>